* {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Actor', sans-serif;
    font-family: 'Aladin', cursive;
    font-family: 'Alegreya', serif;
    font-family: 'Almarai', sans-serif;
    font-family: 'Amaranth', sans-serif;
    font-family: 'Amiri', serif;
    font-family: 'Amita', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Bellota', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Cabin', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Carter One', cursive;
    font-family: 'Changa', sans-serif;
    font-family: 'Charm', cursive;
    font-family: 'Chau Philomene One', sans-serif;
    font-family: 'Chewy', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Damion', cursive;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Federant', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Grenze Gotisch', cursive;
    font-family: 'Harmattan', sans-serif;
    font-family: 'Imprima', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Jaldi', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Katibeh', cursive;
    font-family: 'Knewave', cursive;
    font-family: 'Lalezar', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lemon', cursive;
    font-family: 'Lemonada', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Mada', sans-serif;
    font-family: 'Mali', cursive;
    font-family: 'Markazi Text', serif;
    font-family: 'Merienda', cursive;
    font-family: 'Mirza', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Neucha', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Niconne', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oregano', cursive;
    font-family: 'Peralta', cursive;
    font-family: 'Piedra', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Qwigley', cursive;
    font-family: 'Rakkas', cursive;
    font-family: 'Rancho', cursive;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ruda', sans-serif;
    font-family: 'Rye', cursive;
    font-family: 'Sail', cursive;
    font-family: 'Saira', sans-serif;
    font-family: 'Salsa', cursive;
    font-family: 'Shojumaru', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Sofia', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Timmana', sans-serif;
    font-family: 'Tinos', serif;
    font-family: 'Titan One', cursive;
    font-family: 'Ubuntu', sans-serif;
}